body {
    font-family: 'Nunito', sans-serif;
    background-color: #a6cbc6;
    color: #1a3e5f;
    margin: 0;
    padding: 0;
}

.news-page {
    padding: 20px;
    
}

.news-header {
    text-align: center;
    padding: 40px 20px;
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 40px;
}

.news-header h1 {
    text-align: center;
    font-size: 36px;
    font-family: 'Yeseva One', serif;
    color: #155a84;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    margin: 20px 0 10px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(204, 197, 172, 0.8);
}

.news-header p {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 40px auto;
    font-family: "Yeseva One", serif;
    font-size: 18px;
    color: #155a84;
}


.news-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px;
}


.news-item {
    background-color: #eff7e1;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.news-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.news-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-content {
    padding: 20px;
}

.news-title {
    font-size: 24px;
    font-weight: bold;
    color: #155a84;
    margin-bottom: 15px;
}

.news-description {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.read-more {
    font-size: 16px;
    color: #4682B4;
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    color: #155a84;
    text-decoration: underline;
}


@media (max-width: 768px) {
    .news-header h1 {
        font-size: 28px;
    }

    .news-container {
        grid-template-columns: 1fr;
    }

    .news-title {
        font-size: 20px;
    }

    .news-description {
        font-size: 14px;
    }
}
